body {
  background: #eeebeb;
}

.app-container {
  padding: 10px, 0, 10px, 0;
  position: relative;
  height: 100vh;
}

.thin-border {
  border: 1px solid rgb(221, 220, 220);
}
.green-background {
  background: #00bfa5;
}
.stone-background {
  background: #ededed;
}
.search-background {
  background: #f6f6f6;
}
.white-background {
  background: #ffffff;
}
.green-banner {
  background: #009688;
  height: 144px;
  width: 100%;
  z-index: -1000;
  position: absolute;
  top: 0px;
}

.top-pannel-left {
  border-right: 1px solid rgb(223, 223, 223);
}

.rce-mlist div[class^="rce-container-mbox"] {
  margin: 5px 0px 5px 0px;
}

.messages {
  background: url(http://i.imgur.com/TnNwdvV.png);
  max-height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.profile-pic:hover > .overlay {
  opacity: 1;
}

.input-parent {
  background-color: #f0f0f0;
}
.message-list {
  flex-grow: 1;
  height: 100%;
  background: url(http://i.imgur.com/TnNwdvV.png);
  overflow-y: auto;
}
.message-input {
  border-radius: 30px;
}
.message-input textarea {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
}

.login-container {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
  box-shadow: 1px 1px rgb(250, 248, 248), -0.1em 0 2em rgb(219, 219, 219);
  background-color: white;
}
.signup-container {
  border: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
  box-shadow: 1px 1px rgb(250, 248, 248), 0 0.4em #eeebeb;
  background-color: white;
}
.border-top-bottom {
  border-top: 1px solid rgb(221, 220, 220);
  border-bottom: 1px solid rgb(221, 220, 220);
}
#search-bar {
  border-radius: 500px;
  height: 40px;
  max-width: 80;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px 48px;
}

#search-bar-parent {
  position: relative;
  margin-top: 10px;
  /* background-color: #F6F6F6; */
}
.search-bar-glass {
  position: absolute;
  left: 17px;
  top: 8px;
  color: black;
}

.box .logo {
  display: flex;
  align-self: center;
  justify-content: center;
  border: none;
}
.box {
  display: flex;
  justify-content: center;
}

.dropdown-toggle::after {
  display: none;
}

button.dropdown-toggle.btn-light {
  padding: 0px !important;
  margin: 0px !important;
  outline: none;
}

@media only screen and (max-width: 991px) {
  div.box.signuplogo {
    display: none;
  }
}
